*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    justify-content: space-between;
}
/* --------------------- classe utilitaire --------------------*/
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
/* ---------------------------PAGE HOME----------------------- */
/* Entete */
.enteteX{
    position: fixed;
    z-index: 1000;
    background-color: black;
    width: 29%;
    justify-content: center;
    padding-right: 6em;
    height: 70px;
}
.iconX-header{
    height: 50px;
    width: 50px;
    fill: #fff;
}

/* Conteneur principal */
.conteneurPrincipal{
}
/* Header home */
.main-header{
    background-color: black;
    width: 40%;
    height: auto;
    align-items: end;
    gap: 100px;
}
/* Première partie header */
.conteneurDiv1Header{
    gap: 50px;
    width: 75%;
    align-items: end;
}
.nav-compte{
    width: 85%;
    gap: 30px;
}
.sectionIcone{
    margin-top: 5em;
    gap: 20px;
}
.menu-icone{
    align-items: center;
    gap: 30px;
}
.menu-icone svg{
    height: 40px;
    width: 40px;
    fill: white;
}
.menu-icone a{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}
.menu-icone a :hover{
    font-weight: bolder;
}
.more{
    border-radius: 20px;
    border: 5px solid #fff;
}
.poster{
    width: 100%;
    height: auto;
}
.poster-li{
    border-radius: 40px;
    background-color: #fff;
    border: 7px solid transparent;
    text-decoration: none;
    justify-content: center;
    padding: 1em;
    width: 90%;
}
.poster-li a{
    text-decoration: none;
    font-weight: bolder;
    color: black;
}
/* Deuxième partie header */
.conteneurDiv2Header{
    width: 75%;
    gap: 25px;
    align-items: center;
}
.monImage{
    border-radius: 200px;
    height: 80px;
    width: 80px;
}
.monNom{
    gap: 10px;
    height: 50px;
}
.monNom p{
    font-size: 17px;
}
.surnom{
    font-weight: bolder;
    color: #fff;
}
.Ngala{
    color: #aeadad;
}
.conteneurDiv2Header svg{
    height: 40px;
    width: 50px;
    fill: #fff;
}
.hr{
    border-radius: 20px;
    height: 5px;
    background-color: #aeadad;
}
/* Main home */
.MainHome{
    width: 100%;
}
/* section publication  */
.sectionPublication{
    width: 60%;
    background-color: #000;
}
/* navigation */
.mainNav{
    width: auto;
    font-size: 19px;
    height: 70px;
    justify-content: space-around;
    font-weight: bolder;
    align-items: center;
}
.mainNav div a {
    color: #fff;
}
.pourVous {
    padding-top: 2em;
}
.pourVous:hover {
    width: 50%;
    border-bottom: 5px solid #0070DD;
    background-color: rgba(000 , 112, 192, 0.15);
    padding-bottom: 0.5em;   
}
.pourVous a{
    text-align: center;
}
.mainNav a{
    text-decoration: none;
}
/* Section1 */
/* premier conteneur de la section */
.section1MainHome{
    margin-top: 1em;
    background-color: #000;
}
.conteneurMainHome1{
    justify-content: space-around;
    height: 150px;
}
.conteneurHappening{
    width: 75%;
}
.conteneurHappening div{
    padding-right: 2em;
}
.conteneurHappeningWhat{
    justify-content: space-around;
    font-size: 20px;
}
.conteneurHappeningWhat input{
    color: #aeadad;
    border-radius: 5px;
    border: 0px solid ;
    padding: 1em;
    font-size: 19px;
    background-color: #000;
}
.conteneurHappeningDIV{
    gap: 20px;
    padding-left: 1em;
}
.state{
    transform: rotate(90deg);
}
.Poster1{
    width: 100%;
    height: 10em;
    justify-content: center;
    align-items: end;
    
}
.Poster1-li{
    border-radius: 40px;
    background-color: #fff;
    border: 7px solid transparent;
    text-decoration: none;
    justify-content: center;
    padding: 0.2em;
    width: 100%;
}
.Poster1-li a{
    text-decoration: none;
    font-weight: bolder;
    color: black;
}
/* deuxième conteneur de la section */
.conteneurMainHome2{
    gap: 25px;
}
.conteneurTitle{
    width: 100%;
    height: 3em;
    gap: 20px;
    align-items: center;
}
.conteneurTitle span{
    color: #aeadad;
}
.ConteneurCNN{
    gap: 10px;
    align-items: center;
}
.ConteneurCNN a{
    text-decoration: none;
    font-weight: bolder;
    color: #fff;
}
.conteneurPublication{
    gap: 20px;
}
.conteneurPublication p{
    text-align: start;
    color: #fff;
}
.imagePublié{
    border-radius: 10%;
    height: auto;
    width: 80%;
}
.ConteneurIconePublication{
    gap: 50px;
    width: 100%;
    height: 80px;
    text-decoration: none;
}
.ConteneurIconePublication div{
    align-items: center;
    gap: 10px;
}
.ConteneurIconePublication div span{
    color: #aeadad;
    font-size: 15px;
}
.conteneurMainHomeIMG{
    padding-top: 0.5em;
    padding-left: 2em;

}

/* Section Notification */
.Notification{
    width: 45%;
    align-items: start;
    background-color: #000;
}
/* conteneur des notifications */
.conteneurNotif{
    padding-top: 6em;
    width: 80%;
    padding-left: 2em;
    gap: 24px;
}
.conteneurNotif0{
    padding-top: 1em;
    width: 100%;
    padding-left: 2em;
    gap: 24px;
    height: 90px;
    background-color: #000; 
    z-index: 1000px;
    position: fixed;
}
.conteneurRecherche{
    align-items: center;
    gap: 7px;
    width: 25%;
    border-radius: 200px;
    overflow: hidden;
    border: 2px solid #aeadad;
    background-color: #000;
}
.conteneurRecherche input{
    flex: 1;
    padding: 0.8em;
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
    font-size: 19px;
}
.Btnrecherche {
    padding-left: 2em;
    border: none;
    outline: none;
    background-color: #000;
}
/* Conteneur notif aimer */
.conteneurAimer{
    gap: 20px;
    border: 2px solid #aeadad;
    padding: 2em 0.8em;
    border-radius: 20px;
}
.conteneurAimer h2{
    color: #fff;
}
.conteneurDivAimer{
    gap: 20px;
}

.conteneurDiv3Aimer{
    width: 100%;
    gap: 25px;
    align-items: center;
}
.conteneurDiv3Image{
    align-items: center;
    gap: 7px;
}
.monImageNotif{
    border-radius: 200px;
    height: 70px;
    width: 70px;
}
.monNomNotif{
    gap: 7px;
}
.posterNotif{
    width: 100%;
    align-items: end;
}
.posterNotif-li{
    border-radius: 40px;
    background-color: #fff;
    border: 7px solid transparent;
    text-decoration: none;
    justify-content: center;
    padding: 0.2em;
    width: 50%;
}
.posterNotif-li a{
    font-size: 13px;
    text-decoration: none;
    font-weight: bolder;
    color: black;
}
.VoirPlus{
    font-size: 19px;
    text-decoration: none;
    color: #0070DD;
}
/* conteneur notif ce qui se passe */

.conteneurCeQuiSePasse1{
    height: 100px;
    width: 400px;
    justify-content: space-around;
}
.conteneurCeQuiSePasse1 a{
    text-decoration: none;
    font-weight: bolder;
    color: #fff;
    font-size: 20px;
}
.conteneurCeQuiSePasse1{
    color: #aeadad;
    font-size: 20px;
}
.troispoints{
    align-items: end;
    width: 100%;
}
.troispoints img{
    height: 40px;
    width: 40px;
}
/* footer côté conteneur des notifications */
.footer_index{
    background-color: #000;
}
.index_footer_ul{
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    color:#aeadad ;
    padding-bottom: 3em;
    list-style: none;
}
.index_footer_ul li a{
    color:#aeadad ;
    text-decoration: none;
}
/* Messagéries */
.messagerie{
    width: 95%;
    height: 130px;
    align-items: end;
    justify-content: space-between;

}
.iconeGrok{
    border: 2px solid #aeadad;
    border: 3px;
    padding-right: 1em;
}
.messagerieGrok{
    border: none;
    outline: none;
}
.messagerie button svg{
    fill: #fff;
    background-color: #000;
}
.EcrireMessage{
    width: 70%;
    height: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    border: 2px solid #aeadad;
}
.EcrireMessage input{
    flex: 1;
    padding: 0.8em;
    border: none;
    width: 50%;
    outline: none;
    background-color: #000;
    color: #fff;
    font-size: 19px;
    font-weight: bolder;
}
.btnIconeMessage {
    gap: 10px;
    padding-right: 2em;
    background-color: #000;
    
}
.btnIconeMessage button{
    border: none;
    outline: none;
    background-color: #000;
}
.btnIconeMessage button img{
    height: 20px;
    width: 20px;
}



























@media screen and (max-width:767px){
    /* Entete */
    .enteteX{
        background-color: #000;
        width: 100%;
        padding-right: 0em;
        height: 70px;
    }
    /* Conteneur principal */
    .conteneurPrincipal{
        padding-top: 4em;
        flex-direction: column-reverse;
    }
    /* Header home  */
    .main-header{
        background-color: black;
        width: 100%;
        padding: 1em;
    }
    /* Première partie header  */
    .conteneurDiv1Header{
        width: 100%;
        background-color: #000;
    }
    .nav-compte{
        width: 100%;
    } 
    .sectionIcone{
        display:flex ;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0em;
        background-color: #000;
    }
    .menu-icone a{
        display: none;
    }
    .poster{
        display: none;
    }
    /* Deuxième partie header  */
    .conteneurDiv2Header{
        display: none;
    }
    /* Main home */
    .MainHome{
        width: auto;
        display: flex;
        flex-direction: column-reverse;
    }
    /* Section Notification  */
    .Notification{
        padding-top: 0em;
        width: auto;
        align-items: start;
    }
    .conteneurNotif0{
        padding: 1em 2em;
        width: 100%;
        height: 90px;
        background-color: #000; 
    }
    .conteneurRecherche{
        align-items: center;
        gap: 7px;
        width: auto;
        border-radius: 200px;
        overflow: hidden;
        border: 2px solid #aeadad;
        background-color: #000;
    }
    /* conteneur des notifications  */
    .conteneurNotif{
        display: none;
    }
    /* Messagérie */
    .messagerie{
        display: none;
    }
    /* section publication  */
    .sectionPublication{
        width: auto;
        background-color: #000;
    }
    /* Section1 */
    .section1MainHome{
        margin-top: 0em;
        background-color: #000;
        width: auto;
        padding-top: 3em;
    }
    /* premier conteneur de la section  */
    .conteneurMainHome1{
        gap: 20px;
        background-color: #000;
        width: auto;
        padding: 0 0.5em;
    }
    .monImage{
        height: 70px;
        width: 70px;
    } 
    .conteneurHappening{
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0 ;
        background-color: #000;
    }
    .conteneurHappening div{
        
        padding-right: 0em;
        width: auto;
        background-color: #000;
    }
    .conteneurHappeningWhat{
        gap: 15px;
    }
    .conteneurHappeningWhat input{
        color: #aeadad;
        border-radius: 5px;
        border: 2px solid ;
        padding: 0em;
        font-size: 19px;
        background-color: #000;
        width: 95%;
    }
    .Poster1{
    width: auto;
    height: 20em;
    align-items: center;
    }
    .Poster1-li{
        width: 50%;
    }
    /* deuxième conteneur de la section  */
    .conteneurMainHome2{
    gap: 10px;
    background-color: #000;
    padding:1 1em;
    }
    .conteneurMainHomeIMG{
        padding-top: 0.5em;
        padding-left: 0em;
    }
    .conteneurTitle{
        display: flex;
        flex-wrap: wrap;
        width: auto;
        background-color: #000;
        
    }
    .conteneurPublication{
        width: auto;
        padding-top: 2em;
        text-align: justify;
        padding-right: 1em;
    }
    .imagePublié{
        width: 80%;
    }
    .ConteneurIconePublication{
        gap: 10px;
        width: 100%;
        height: 80px;
        text-decoration: none;
    }

}





